{
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "react-hooks", "prettier", "jsx-a11y", "import"],
  "rules": {
    "no-console": "error"
  }
}
